@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed:ital,wght@0,800,500&display=swap");

@font-face {
	font-family: "Nexa-script-bold";
	src: url("../fonts/fonts-article/nexa-script-bold.woff2") format("woff2"),
		url("../fonts/fonts-article/nexa-script-bold.woff") format("woff");

	font-style: normal;
	font-weight: 700;
	font-display: swap;
}

@font-face {
	font-family: "Nexa-script-semi-bold";
	src: url("../fonts/fonts-article/nexa-script-semi-bold.woff2") format("woff2"),
		url("../fonts/fonts-article/nexa-script-semi-bold.woff") format("woff");

	font-style: normal;
	font-weight: 600;
	font-display: swap;
}

@font-face {
	font-family: "Kishki-Regular";
	src: url("../fonts/fonts-article/Kishki.woff2") format("woff2"),
		url("../fonts/fonts-article/Kishki.woff") format("woff");

	font-style: normal;
	font-weight: 400;
	font-display: swap;
}

body {
	/* font-family: "Russo One", Arial, sans-serif; */
	/* font-family: "Fira Sans Extra Condensed", sans-serif; */
}
