@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed:ital,wght@0,800,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed:ital,wght@0,800;1,500&family=Russo+One&display=swap");

@font-face {
	font-family: "Nexa-script-bold";
	src: url("../fonts/fonts-article/nexa-script-bold.woff2") format("woff2"),
		url("../fonts/fonts-article/nexa-script-bold.woff") format("woff");

	font-style: normal;
	font-weight: 700;
	font-display: swap;
}

@font-face {
	font-family: "Nexa-script-semi-bold";
	src: url("../fonts/fonts-article/nexa-script-semi-bold.woff2") format("woff2"),
		url("../fonts/fonts-article/nexa-script-semi-bold.woff") format("woff");

	font-style: normal;
	font-weight: 600;
	font-display: swap;
}

/* ================================================================================================================================== */

.wrapper {
	min-height: 100%;
	overflow: hidden;
}
.container {
	max-width: 1200px;
	margin: 0 auto;
	border: 3px dotted black;
	box-shadow: inset 0px 10px 10px 0px rgb(0, 0, 0), 8px 10px 8px rgb(74, 51, 51);
}

.caption {
	font-family: "Russo One", sans-serif;
	text-decoration: overline 5px rgb(71, 71, 138);
	font-size: 35px;
	margin-bottom: 30px;
}

.attention {
	font-size: 30px;
	color: white;
	line-height: 120%;
	letter-spacing: 1.3px;
	text-decoration: underline;
}

/* ================================================================================================================================== */

body {
	font-family: "Fira Sans Extra Condensed", sans-serif;
	font-weight: 500;
	font-size: 20px;
	color: #2a1111;
}

.list li {
	display: inline-block;
	margin: 0px 40px 60px 40px;
	font-size: 25px;
	text-decoration: underline;
}

.title {
	font-family: "Nexa-script-bold";
	font-weight: 700;
	color: red;
	font-size: 60px;
	text-align: center;
	margin-bottom: 50px;
}

.img {
	margin-bottom: 20px;
	text-align: center;
}

.main-image {
	width: 700px;
	height: 500px;
}

.main-info {
	background-color: rgba(211, 202, 202, 0.292);
	border-radius: 20px 40px;
	box-shadow: inset 0px 10px 10px 0px rgb(204, 21, 21), 2px 10px 8px rgb(226, 28, 28);
	padding: 20px;
	margin-bottom: 60px;
}
.main-info-text {
	font-family: "Nexa-script-semi-bold";
	font-weight: 600;
	letter-spacing: 2px;
}

.nonsense {
	margin-bottom: 70px;
}

.nonsense-img {
	width: 600px;
	height: 350px;
	border-radius: 20% 35%;
	overflow: hidden;
	margin: 0 auto 50px;
}

.nonsense-text-left {
	display: inline-block;
	max-width: 600px;
	padding: 20px;
	margin: 0px 20px 50px 0px;
	background-color: rgb(39, 10, 10);
	border-radius: 10px 60px;
	box-shadow: -10px -20px 10px 5px rgb(0, 0, 0);
}
.text-left {
	color: white;
	letter-spacing: 1.5px;
	line-height: 150%;
}
.nonsense-text-right {
	display: inline-block;
	max-width: 300px;
	padding: 20px;
	background-color: rgb(223, 227, 228);
	border-radius: 10% 5%;
	box-shadow: 0 20px 10px 0 rgb(3, 75, 3);
}
.text-rigth {
	color: red;
	line-height: 130%;
}
.nonsense-text-center {
	background-color: rgba(55, 165, 243, 0.251);
	padding: 25px;
	border: 2px solid red;
	box-shadow: 10px -20px 20px rgb(181, 122, 122);
}
.text-center {
	letter-spacing: 1.2px;
}

.refuge {
	margin-bottom: 100px;
}

.refuge-top {
	margin-bottom: 50px;
	background-color: #2a1111;
	padding: 20px;
	border-radius: 20%;
}
.refuge-top-text {
	color: rgba(255, 169, 9, 0.455);
}

.image-body {
	margin-bottom: 40px;
}

.refuge-image {
	display: inline-block;
	margin-right: 70px;
}

.refuge-image-mask {
	display: inline;
	border-radius: 50%;
	width: 200px;
	height: 200px;
}

.zombi-image {
	display: inline-block;
	max-width: 500px;
	text-align: center;
}

.mask-norm {
	border: 5px dashed black;
	border-radius: 50%;
	width: 200px;
	height: 200px;
}

.mask-zombi {
	border-radius: 50%;
	box-shadow: 40px 20px 20px rgb(34, 32, 32);
	border: 2px solid rgba(255, 0, 0, 0.986);
	width: 200px;
	height: 200px;
	margin-left: -40px;
}

.refuge-image-galustyan {
	display: inline;
	border-radius: 50%;
	width: 200px;
	height: 200px;
}
.galustyan-norm {
	border: 5px double rgb(236, 0, 205);
	border-radius: 50%;
	width: 200px;
	height: 200px;
}
.galustyan-zombi {
	border-radius: 50%;
	box-shadow: 40px 20px 20px rgb(34, 32, 32);
	border: 5px dotted rgba(8, 0, 255, 0.986);
	width: 200px;
	height: 200px;
	margin-left: -40px;
}

.refuge-center {
	background-color: rgb(25, 218, 240);
	box-shadow: inset -10px 15px 10px 5px rgb(240, 235, 235);
	padding: 30px;
	border: 4px solid blue;
	border-left: none;
	border-right: none;
}

.provisions {
	margin-bottom: 100px;
}

.provisions-top-text {
	padding: 30px;
	border: 3px solid red;
	margin-bottom: 40px;
}
.inline-provision-text {
	outline: 3px solid black;
}

.provisions-image {
	display: inline-block;
	margin-left: 50px;
}
.provisions-smalls-image {
	display: inline-block;
	max-width: 600px;
}

.location-image {
	text-align: center;
	margin-bottom: 60px;
}

.locations-text {
	font-family: "Russo One", sans-serif;
	font-style: italic;
	color: black;
}

.location-text1 {
	background-color: #2ac977;
	padding: 40px;
	outline: 5px solid black;
}
.location-text2-hiden {
	visibility: hidden;
	margin-bottom: 30px;
}
.location-text3 {
	padding: 20px;
	background-color: #bd1b1b;
	border: 5px solid rgb(1, 250, 30);
}
.location-text-opacity {
	margin-bottom: 30px;
	opacity: 0;
}
.location-text4 {
	padding: 25px;
	background-color: rgb(3, 228, 240);
	outline: 5px dashed rgb(255, 11, 121);
}
.location-text-none {
	display: none;
}

.button-link {
	text-align: center;
}

.footer {
	padding: 30px;
	background-color: #d9e4df;
}

.link {
	box-shadow: 10px 8px 8px rgb(49, 20, 218);
	display: inline-block;
	padding: 20px 40px;
	border: 2px solid black;
	text-align: center;
	color: blue;
	letter-spacing: 4px;
	font-size: 25px;
}
